.container{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
 }
 
 .flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgb(195, 195, 221);
 }
 
 .flex-box-rps{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    padding: 10px;
 }
 
 .flex-box1-rps{
    padding: 0.5rem;
 }
 
 #setUp {
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    border-radius: 7px;
    
 }